@charset "utf-8";
.caja_actividad_sin_margin {
	padding: 10px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 10px 10px 10px 0px;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #00AA00;
  max-width: 208px;
}
.responsive-img {
/*  display: block;
  width: 100%\9;*/
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}

.foto_izquierda {
  float: left;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.foto_derecha {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.foto_centro {
	display:block;
	margin:auto;
}

.foto_izq_fuera {
  float: left;
  margin-top: -20px;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: -40px;
}
.foto_der_fuera {
  float: right;
  margin-top: -20px;
  margin-right: -40px;
  margin-bottom: 6px;
  margin-left: 10px;
}

.marco {
  padding: 5px;
  border: solid 1px #cccccc;
}
#ref {
  padding: 0px;
  float: right;
  height: 22px;
  width: 103px;
  margin-top: 6px;
  margin-right: 0px;
  margin-bottom: -6px;
  margin-left: 0px;
}
#ref a:link, #ref a:visited {
  background-image: url(../img/img_gen/referencias.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 22px;
  width: 103px;
}
#ref a:hover {
margin-top: 2px;
}

/*omar*/
.box_archivos {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_archivos.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 100px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}

.box_nota {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_notas.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 110px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}
.box_ok {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_ok.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 100px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}
.box_sobre {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_sobre.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 100px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}
.box_territorio {
  background-image: url(http://www.fao.org/alc/file/cursos/images_cursos_01/b_dest_territorio.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 116px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  min-height:120px;
}


.sombra {
	-webkit-box-shadow: 10px 10px 10px -10px #7A7A7A;
	box-shadow: 10px 10px 10px -10px #7A7A7A;
	border: 1px solid #CCC;
	padding: 6px;
	background-color: #FFF;
}
.rotar_derecha
{
	-ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}

.rotar_izquierda
{
	-ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}

.alert-success h3, .alert-danger h3, .alert-warning h3, .alert-info h3 {
  color: inherit;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger{border-left-color:#ce4844}
.bs-callout-danger h4{color:#ce4844}
.bs-callout-warning{border-left-color:#aa6708}
.bs-callout-warning h4{color:#aa6708}
.bs-callout-info{border-left-color:#1b809e}
.bs-callout-info h4{color:#1b809e}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.5em;
}
.label-unidad {
  background-color: #5d727d;
}
.label-unidad[href]:hover,
.label-unidad[href]:focus {
  background-color: #76878f;
}
.badge {
  background-color: #51a5b4;
}
.shadow {
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
}
.verticalLine {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 20px;
}

.verticalLineTwo {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #999;
}
.caja {
	margin:16px;
	padding: 26px;
	background-color: #FFF;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);

}
.caja_tips {
	margin:6px;
	padding: 14px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #0066ad;

}
.numero {
	font-family: 'Kalam', cursive;
	font-size: 5em;
	font-weight: 400;
	color: #892410;
	text-align:center;
	vertical-align: bottom;
	width: 100%;
	font-style: normal;
	line-height: normal;
}
.text_destacado {
	font-family: 'Open Sans', cursive;
	font-size: 1.4em;
	color: #003366;
	text-align: left;
	font-style: normal;
	line-height: 1.1em;
	padding:14px;
}
.back_portada {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_gen/back.jpg);
	background-repeat: repeat-x;
	background-position: center 60px;
}
.back_tomese {
	background-image: url(../img/img_gen/back_tomese.jpg);
	background-repeat: repeat;
	background-position: center center;
}
#rotargear {
		-webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
#rotargear2 {
		-webkit-animation: rotation2 5s infinite linear;
}

@-webkit-keyframes rotation2 {
		from {
				-webkit-transform: rotate(359deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
}
.circulo {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #70aec0;
	border: 2px solid #518594;
	font-weight: bold;
}
.sabias {
	background-color: #f5f5f5;
	background-image: url(../img/img_gen/sombra.png);
	background-repeat: repeat-y;
	background-position: left top;
	min-height: 520px;
	padding-left: 36px;
	padding-top: 36px;
	font-style: italic;
	font-weight: normal;
	color: #52690d;
	font-size: 1.1em;
}
.back_descarga {
	background-image: url(../img/img_gen/back_descarga.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 10px;
	height: 220px;
	width: 220px;
	text-align: center;
}
.degradado_celeste  {
background: rgba(168,218,252,1);
background: -moz-linear-gradient(top, rgba(168,218,252,1) 0%, rgba(118,191,240,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,218,252,1)), color-stop(100%, rgba(118,191,240,1)));
background: -webkit-linear-gradient(top, rgba(168,218,252,1) 0%, rgba(118,191,240,1) 100%);
background: -o-linear-gradient(top, rgba(168,218,252,1) 0%, rgba(118,191,240,1) 100%);
background: -ms-linear-gradient(top, rgba(168,218,252,1) 0%, rgba(118,191,240,1) 100%);
background: linear-gradient(to bottom, rgba(168,218,252,1) 0%, rgba(118,191,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8dafc', endColorstr='#76bff0', GradientType=0 );
}

.text_explicativo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	text-align: left;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCC;
	font-style: italic;
	line-height: 1.5em;
	padding: 0px;
	margin-top: 10px;
}